
.containerCart{
  overflow: auto;
  width: 100%;
}

.cartWrapperLogin{
  text-align: center;
}

.loginButton{
  width: 90%;
  max-width: 200px;
  background-color: #f85555;
  border: none;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  margin-block: 2rem;
}

.cartWrapperLogin p{
  font-size: 1.3rem;
}
/* ---------------------------------------------------- */
.cartWrapper{
  text-align: center;
  position: relative;
  overflow: auto;
  padding: 2rem;
}

.cartList{
  height: 60vh;
  overflow: auto;
}

.cartTitle{
  color: #f85555;
  text-align: center;
  padding-top: 2rem;
}

.productContainer{
  margin-block: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.productContainer > *{
  margin-block: 0.5rem;
}

.productTag{
  color: rgb(147, 145, 145);
}

.btnDelete{
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  color: #f85555;
  cursor: pointer;
  padding: 1rem;
}
.productTitle{
  font-weight: bold;
  font-size: 1.2rem;
}
.btnCheckout{
  width: 90%;
  max-width: 150px;
  background-color: #f85555;
  border: none;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  margin-block: 0.5rem;
}

.totalContainter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total{
  color: gray;
}

.notProducts{
  display: grid;
  place-content: center;
  height: 100%;
}