
.cartWrapper{
  text-align: center;
  position: relative;
  overflow: auto;
  max-height: 600px;
}

.cartTitle{
  color: #f85555;
  margin-bottom: 2rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.loginButton{
  width: 90%;
  max-width: 200px;
  background-color: #f85555;
  border: none;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  margin-block: 2rem;
}
.productContainer{
  margin-block: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.productContainer > *{
  margin-block: 0.5rem;
}

.productTag{
  color: rgb(147, 145, 145);
}

.btnDelete{
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  color: #f85555;
  cursor: pointer;
  padding: 1rem;
}
.productTitle{
  font-weight: bold;
  font-size: 1.2rem;
}
.btnCheckout{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 90%;
  max-width: 200px;
  background-color: #f85555;
  border: none;
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  margin-block: 0.5rem;
}