.containerHero{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
  background-color:#a599ff;
  border-radius: 30px;
  background-color:hsla(0,0%,0%,1);
  background-image:
  radial-gradient(at 28% 45%, hsl(240deg 100% 73% / 31%) 0px, transparent 50%),
  radial-gradient(at 0% 98%, hsl(343deg 25% 31% / 81%) 0px, transparent 50%);
  color: white;
  font-size: 2rem;
  padding-inline: 1rem;
  line-height: 1.5;
}