.navBar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid rgb(190, 187, 187);
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  max-width: 2000px;
  margin: 0 auto;
}

.logo{
  font-size: 2rem;
  color: #f85555;
  font-weight: bold;
}

.navBar li{
  position: relative;
}

.navbarList{
  font-size: 1.8rem;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  margin-block: 0;
}

.navbarBtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.navbarQuantity{
  position: absolute;
  padding: 0.3rem 0.4rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  top: -10px;
  right: -9px;
  font-size: 0.9rem;
}
